Repository wormhole-foundation/example-native-token-transfers, pull requests merged in 2024-04, with the labels that each got.

#345 solana: Add init_if_needed for ATA in initialize
  solana/programs/example-native-token-transfers/src/instructions/initialize.rs
  solana/programs/example-native-token-transfers/src/instructions/redeem.rs
  solana/programs/example-native-token-transfers/src/queue/inbox.rs
Labels: solana, blocks release

#381 evm: Check threshold invariants when adding/removing transceivers
  evm/src/NttManager/ManagerBase.sol
  evm/test/NttManager.t.sol
Labels: evm

#335 evm: Make initialiser payable to allow WH transceiver registration
  evm/src/NttManager/NttManager.sol
  evm/src/Transceiver/WormholeTransceiver/WormholeTransceiverState.sol
  evm/src/interfaces/INttManager.sol
  evm/src/interfaces/IWormholeTransceiverState.sol
  evm/src/libraries/Implementation.sol
Labels: abi, evm

#378 evm: Check forks on all entrypoints
  evm/src/NttManager/NttManager.sol
  evm/test/IntegrationStandalone.t.sol
  evm/test/NttManager.t.sol
Labels: evm

#375 evm: Explicitly check staticcalls
  evm/src/NttManager/NttManager.sol
  evm/src/interfaces/INttManager.sol
  evm/src/mocks/DummyToken.sol
  evm/test/NttManager.t.sol
  evm/test/libraries/NttManagerHelpers.sol
Labels: evm

#386 Change default finality to `202` (finalized)
  evm/env/.env.sample
Labels: blocks release

#365 evm: Prevent registering peers on the same chain
  evm/src/NttManager/NttManager.sol
  evm/src/interfaces/INttManager.sol
  evm/test/NttManager.t.sol
  evm/test/RateLimit.t.sol
Labels: evm

#342 evm: Change RPC node to improve test stability
  evm/test/IntegrationManual.t.sol
Labels: evm

#316 evm: Adds Transceiver Payload V1
  ci_tests/package-lock.json
  evm/src/Transceiver/WormholeTransceiver/WormholeTransceiver.sol
  evm/test/TransceiverStructs.t.sol
  evm/test/payloads/transceiver_message_1.txt
  solana/modules/ntt-messages/src/transceiver.rs
Labels: abi, evm

#269 solana: Add fuzzing and overflow checks for TrimmedAmount
  solana/fuzz/src/Cargo.lock
  solana/fuzz/src/Cargo.toml
  solana/fuzz/src/README.md
  solana/fuzz/src/fuzz_trimmed_amount.rs
  solana/modules/ntt-messages/src/errors.rs
  solana/modules/ntt-messages/src/lib.rs
  solana/modules/ntt-messages/src/trimmed_amount.rs
  solana/programs/example-native-token-transfers/src/error.rs
  solana/programs/example-native-token-transfers/src/instructions/redeem.rs
  solana/programs/example-native-token-transfers/src/instructions/transfer.rs
Labels: abi, solana

#314 solana: Add error handling for Bitmap indexing
  solana/programs/example-native-token-transfers/src/bitmap.rs
  solana/programs/example-native-token-transfers/src/config.rs
  solana/programs/example-native-token-transfers/src/error.rs
  solana/programs/example-native-token-transfers/src/instructions/admin.rs
  solana/programs/example-native-token-transfers/src/instructions/redeem.rs
  solana/programs/example-native-token-transfers/src/queue/outbox.rs
  solana/programs/example-native-token-transfers/src/transceivers/wormhole/instructions/release_outbound.rs
  solana/programs/example-native-token-transfers/tests/transfer.rs
  solana/programs/ntt-quoter/src/processor/request_relay.rs
Labels: abi, solana

#391 solana: upgrade to solana version 1.18.10
  .github/workflows/solana.yml
  solana/Anchor.toml
  solana/Cargo.lock
  solana/Cargo.toml
  solana/Dockerfile
  solana/Makefile
  solana/programs/example-native-token-transfers/Cargo.toml
  solana/programs/example-native-token-transfers/src/instructions/initialize.rs
  solana/programs/example-native-token-transfers/tests/common/setup.rs
  solana/scripts/patch-idl
  solana/scripts/run-ts-tests
Labels: solana

#204 solana/ts/sdk: Added set inbound/outbound limits
  solana/ts/sdk/ntt.ts
Labels: solana
